server:
  port: 9527

spring:
  application:
    name: microservicecloud-zuul-gateway
  zcloud:
    gateway:
      routes:
        # 用户服务路由
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user/**
          filters:
            - StripPrefix=1
            - name: CircuitBreaker
              args:
                name: user-service
                fallbackUri: forward:/fallback/user-service
      
eureka:
  client:
     service-url: 
        defaultZone: http://eureka7001.com:7001/eureka,http://eureka7002.com:7002/eureka,http://eureka7003.com:7003/eureka  
  instance:
      instance-id: gateway-9527.com
      prefer-ip-address: true

info:
  app.name: demo-microservicecloud
  company.name: www.libohan.com
  build.artifactId: ${project.artifactId}
  build.version: ${project.version}